body {
    min-height: 3000px;
}
.jumbotron {
    padding-top: 8rem;
    background-color: #e2edff;
}

#project{
        background-color: #e2edff;
}

section{
    padding-top: 7rem;
}

#about .row {
  margin-left: -15px;
  margin-right: -15px;
}

#about .col-md-5 {
  margin: 0 15px; /* Memberikan jarak antar kolom kiri dan kanan */
}
